<%- include('_head') %>

<div>
    <header class="font-semibold pt-5">
        <nav class="flex justify-between items-center w-[92%] mx-auto">            
            <div class="md:static absolute bg-black md:min-h-fit min-h-[60vh] left-0 top-[9%] md:w-auto w-full items-center px-5 ">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[1vw] gap-6">
                    <li><a class="hover:bg-[#8FC1E3] hover:text-[#F7F9FB] px-4 py-2 rounded" href="#">Domov</a></li>
                    <li><a class="hover:bg-[#8FC1E3] hover:text-[#F7F9FB] px-4 py-2 rounded" href="#">Svadobný fotograf</a></li>
                    <li><a class="hover:bg-[#8FC1E3] hover:text-[#F7F9FB] px-4 py-2 rounded" href="#">Svadobný kameraman</a></li>
                    <li><a class="hover:bg-[#8FC1E3] hover:text-[#F7F9FB] px-4 py-2 rounded" href="#">Rodinný fotograf</a></li>
                    <li><a class="hover:bg-[#8FC1E3] hover:text-[#F7F9FB] px-4 py-2 rounded" href="#">Fotobúdka</a></li>
                    <li><a class="hover:bg-[#8FC1E3] hover:text-[#F7F9FB] px-4 py-2 rounded" href="#">Referencie</a></li>
                    <li><a class="hover:bg-[#8FC1E3] hover:text-[#F7F9FB] px-4 py-2 rounded" href="#">Portfólio</a></li>
                    <li><a class="hover:bg-[#8FC1E3] hover:text-[#F7F9FB] px-4 py-2 rounded" href="#">Cenník</a></li>
                    <li><a class="hover:bg-[#8FC1E3] hover:text-[#F7F9FB] px-4 py-2 rounded" href="#">Kontakt</a></li>
                </ul>
            </div>
            <div>
                <button class="bg-[#31708E] text-white px-5 py-2">Online Galéria</button>
            </div>            
        </nav>
    </header>
    
</div>

<%- include('_foot') %>